The Norad Relay (<%= @relay.key_signature[-23..-1].upcase %>) associated with the <%= @relay.organization.uid %> organization is now offline. It last sent a heartbeat at <%= @relay.last_heartbeat.to_s %>.

For more information, please visit <%= ui_url(v1_organization_url(@relay.organization)) %>.
